##### 16112번 5차 전직(실버2)

In [27]:
n, act = map(int, input().split())

k = list(map(int, input().split()))
k.sort()  # 감소되는 경험치 최소화

cnt, exp = 0, 0
for i in range(n):
    if cnt< act:
        cnt+=1
        exp -= k[i]
    exp += k[i] * cnt
print(exp)

3 1
100 300 200
500

In [23]:
k

[10, 20, 30]

###### 1026번 보물(실버4)

In [11]:
n = int(input())
a = []
for i in range(n):
    a = list(map(int(), input().split()))

2
1 2

TypeError: 'int' object is not callable

In [9]:
a

[]